@import "../../../less/variables.less";

.list-contacts__item a{
    display: flex;
    width: 100%;
    margin-bottom: 0.5em;
    height: 7em;
    background-color: @lightgray;
    text-decoration: none;
    cursor: pointer;

    .item__ava {
        width: 6em;
        height: 6em;
        margin: 0.5em;
        border-radius: 3em;
        background-color: @middlegray;
        box-sizing: border-box;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .item__info {
        flex: 1;
        padding: 0.5em;
        max-height: 6em;

        h2 {
            font-size: 1em;
            color: @deeppurple;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }

        p {
            margin:0;
            text-align: left;
            color: @middlegray;
            max-height: 2.5em;
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }

    .item__infomess {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 10%;
        padding: 0.5em;

        .info-time {
            width: 100%;
            text-align: center;
            color: @middlegray;
        }

        .info-counter {
            display: block;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            margin: 0;
            text-align: center;
            color: @white;
            background-color: @deeppurple;
            border-radius: 0.75em;
        }
    }
}
