@import "../../../less/variables.less";

.info-block{
    width: 30em;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 6em;
    box-shadow: 0 0 10px @shadow;
    font-weight: 400;

    h1 {
        text-align: center;
    }

    .avatar {
        width: 7em;
        height: 7em;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        border-radius: 5em;
        background-color: @middlegray;

        img {
            width: 100%;
        }
    }

    table {
        width: 100%;

        tr {
            height: 2em;
            border: 2px solid @deeppurple;

            td {
                border-bottom: 2px solid @deeppurple;
            }
            .tdright {
                text-align: right;
            }
        }
    }
}



