.chat {
    display: flex;

    .chat-list {
        width: 30%;
        min-height: 100vh;
        padding: 0.5em;
        background-color: rgba(243, 243, 243, 1);

        .list-contacts {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
    }

    .chat-field {
        flex: 1;
        text-align: center;

        p {
          margin-top: 45vh;
        }

        input {
          width: 90%;
        }
    }

    .search {
        display: flex;
        width: 100%;

        input {
            width: 90%;
            border: none;
            line-height: 2em;
            outline: none;
        }

        .submit-button {
            width: 10%;
        }
    }
}

