@import "../../../less/variables.less";

.form-input {
    width: 100%;
    font-size: 1.3em;
    border: none;
    border-bottom: 2px solid @deeppurple;
    outline: none;
}

.form-label {
    color: @middlegray;
    font-weight: 400;
}
